/* input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    display: block;
} */

.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.qty-form {
  width: 25%;
  box-sizing: border-box;
}
